{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Alterar Administrador</h1>

    <form method="POST" action="{{ path_for('alterarAdmin', {'id': admin.id_admin}) }}">
        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="usuario" value="{{ admin.usuario }}">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" value="{{ admin.senha }}">
        </div>
    
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
</section>

{% endblock %}