{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Alterar Notícia</h1>

    <form method="POST" action="{{ path_for('noticiasAlterar', {'id': news.id_noticia}) }}">
        <div class="form-group">
            <label for="noticia">Notícia</label>
            <input type="text" class="form-control" id="noticia" name="noticia_tema" value="{{ news.noticia }}" required>
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" name="data" value="{{ news.dta_noticia }}" required>
        </div>
        <div class="form-group">
            <label for="usuario">Usuário</label>
            <select class="form-control" name="usuario" required>
                <option value="" selected disabled>--selecione um funcionário--</option>
                {% for u in users %}
                <option value="{{ u.id_usuario }}">{{ u.funcionarios }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group"></div>
            <label for="ponto">Ponto Físico</label>
            <select class="form-control" name="ponto" required>
                <option value="" selected disabled>--selecione um ponto físico--</option>
                {% for p in pontos %}
                <option value="{{ p.id_ponto }}">{{ p.nome_comercial }}</option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary margem">Alterar</button>
    </form>
</section>

{% endblock %}