{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Alterar Notícia</h1>

    <form method="POST" action="{{ path_for('noticiasAlterar', {'id': news.id_noticia}) }}">
        <div class="form-group">
            <label for="noticia">Notícia</label>
            <input type="text" class="form-control" id="noticia" name="noticia_tema" value="{{ news.noticia }}">
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data" name="data" value="{{ news.dta_noticia }}">
        </div>
        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="usuario" value="{{ news.usuario }}">
        </div>

        <div class="form-group"></div>
            <label for="ponto">Ponto Físico</label>
            <input type="text" class="form-control" id="ponto" name="ponto" value="{{ news.ponto_fisico }}">
        </div>
    
        <button type="submit" class="btn btn-primary margem">Salvar</button>
    </form>
</section>

{% endblock %}