{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Alterar Administrador</h1>

    <form method="POST" action="{{ path_for('alterarAdmin', {'id': admin.id_admin}) }}">
        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario" name="usuario" value="{{ admin.usuario }}" required>
        </div>
        
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" value="{{ admin.senha }}" required>
        </div>

        <div class="form-group">
            <label for="senha">Nome da empresa</label>
            <select class="form-control" name="empresa" required>
                {% for e in empresa %}
                <option>{{ e.nome_comercial }}</option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
</section>

{% endblock %}