{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Cadastrar Funcionários</h1>

    <form method="POST" action="{{ path_for('usuariosCadastro') }}">
        <div class="form-group">
            <label for="func">Funcionário</label>
            <input type="text" class="form-control" id="func" name="func" required>
        </div>
        
        <div class="form-group">
            <label for="ponto">ADM Ponto</label>
            <select class="form-control" name="ponto">
                <option selected disabled>--selecione um ponto físico--</option>
                {% for p in pontos %}
                <option value="{{ p.id_ponto }}">{{ p.nome_comercial }}</option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</section>

{% endblock %}