{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Clientes</h1>

    <div>
        <a href="{{ path_for('cadastrarClientes') }}" class="btn btn-success">Novo Cliente</a>
    </div>
    
    <div class="margem">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Ponto</th>
                    <th scope="col">VIP</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for users in clientes %}
                <tr>
                    <td>{{ users.id_cliente }}</td>
                    <td>{{ users.nome }}</td>
                    <td>{{ users.cpf }}</td>
                    <td>{{ users.ponto_registrado }}</td>
                    <td>{{ users.vip }}</td>
                    <td>
                        <a href="{{ path_for('AlterarClientes', { 'id': users.id_cliente }) }}" class="btn btn-outline-secondary">Editar</a>
                        <a href="{{ path_for('DeletarCliente', { 'id': users.id_cliente }) }}" class="btn btn-outline-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}