<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="views/css/style.css">
    <title>Erro ao excluir</title>
</head>
<body>
    <section class="container margem" align="center">
        <h1 class="center">Erro ao excluir</h1>
        <p>O dado que você está tentando excluir possui uma dependência 
        com outro componente</p>
        <a href="{{ path_for('dashboard') }}" class="btn btn-primary">Voltar para a Home</a>
    </section>
</body>
</html>