{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Produtos</h1>

    <div>
        <a href="#" class="btn btn-success">Novo Produto</a>
    </div>
    
    <div class="margem">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Cliente</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>Otto</td>
                    <td class="btn btn-outline-secondary">Editar</td>
                    <td class="btn btn-outline-danger">Excluir</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}