{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Produtos</h1>

    <div>
        <a href="{{ path_for('produtosCadastro') }}" class="btn btn-success">Novo Produto</a>
    </div>
    
    <div class="margem">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Cliente</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for prod in produtos %}
                <tr>
                    <td>{{ prod.id_produto }}</td>
                    <td>{{ prod.nome }}</td>
                    <td>{{ prod.categoria }}</td>
                    <td>{{ prod.tipo }}</td>
                    <td>{{ prod.preco }}</td>
                    <td>{{ prod.cliente }}</td>
                    <td>
                        <a href="{{ path_for('produtosAlterar', { 'id': prod.id_produto }) }}" class="btn btn-outline-secondary">Editar</a>
                        <a href="{{ path_for('produtosDeletar', { 'id': prod.id_produto }) }}" class="btn btn-outline-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}