{% extends "header.html" %}

{% block content %}

<section class="margem">
    <h1>Funcionários</h1>

    <div>
        <a href="{{ path_for('usuariosCadastro') }}" class="btn btn-success">Novo Funcionário</a>
    </div>
    
    <div class="margem">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Funcionários</th>
                    <th scope="col">Adm ponto</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for users in usuarios %}
                <tr>
                    <td>{{ users.id_usuario }}</td>
                    <td>{{ users.funcionarios }}</td>
                    <td>{{ users.adm_ponto }}</td>
                    <td>
                        <a href="{{ path_for('usuariosAlterar', { 'id': users.id_usuario }) }}" class="btn btn-outline-secondary">Editar</a>
                        <a href="{{ path_for('usuariosDeletar', { 'id': users.id_usuario }) }}" class="btn btn-outline-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}